:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-llight-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
}

.menu {
    display: none;
}

.logo {
    width: 100px;
}

.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}

.navbar-left ul li a {
    text-decoration: none;
    color: var(--very-llight-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
}

