:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-llight-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

.product-detail {
    width: 360px;
    padding-bottom: 24px;
}

.product-detail__close {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 14px;
    height: 14px;
    padding: 12px;
    background: var(--white);
    z-index: 2;
    border-radius: 50%;
}

.product-detail > img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-detail__close:hover {
    cursor: pointer;
}

.product-detail__info {
    margin: 0 24px;
}

.product-detail__info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin: 0 0 4px;
}
.product-detail__info p:nth-child(2) {
    color: var(--very-llight-pink);
    font-size: var(--md);
    margin: 0 0 36px;
}
.product-detail__info p:nth-child(3) {
    color: var(--very-llight-pink);
    font-size: var(--sm);
    margin: 0 0 36px;
}

.button__primary {
    background: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.button__add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
}